{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("assets/client/detail/style.css") }}"></link>{% endblock %}{% block title %}
{{ name}}
:: Mikroutils{% endblock %}{% block body %}
<div class="mb-5 border-bottom">
	<h1>{{ name }}</h1>
</div>
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item" role="presentation">
		<button class="nav-link active" id="user-data" data-bs-toggle="tab" data-bs-target="#user-data-pane" type="button" role="tab" aria-controls="user-data-pane" aria-selected="true">Informações</button>
	</li>
	{% if logs.meta.length > 0 %}
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="log-tab" data-bs-toggle="tab" data-bs-target="#log-tab-pane" type="button" role="tab" aria-controls="log-tab-pane" aria-selected="false">Logs</button>
		</li>
	{% endif %}
</ul>
<div class="tab-content">
	<div class="mt-3 tab-pane fade show active" id="user-data-pane" role="tabpanel" aria-labelledby="user-data" tabindex="0">
		<div class="data-list">
			<ul class="list-group">
				<li class="list-group-item data">
					<span class="title">Gateway:</span>
					<span>{{ gw }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">MAC:</span>
					<span>{{ callerId }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">IP público:</span>
					<span>{{ remoteAddress }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">IP local:</span>
					<span>{{ localAddress }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">Interface:</span>
					<span>{{ interface }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">Fabricante:</span>
					<span>{{ manufacturer }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">Tempo ativo:</span>
					<span>{{ uptime }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">Queue:</span>
					<span>{{ maxLimit }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">RX byte:</span>
					<span>{{ rxByte }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">TX byte:</span>
					<span>{{ txByte }}</span>
				</li>
				<li class="list-group-item data">
					<span class="title">Última conexão:</span>
					<span>{{ lastLinkUpTime }}</span>
				</li>
			</ul>
		</div>
	</div>
	{% if logs.meta.length > 0 %}
		<div class="mt-3 tab-pane fade" id="log-tab-pane" role="tabpanel" aria-labelledby="log-tab" tabindex="0">
			<table class="table">
				<thead>
					<tr>
						<th>Time</th>
						<th>Topics</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					{% for host in logs.data %}
						{% for log in host.data|reverse %}
							{% if "error" in log.topics %}
								{% set className = "log log-error" %}
							{% else %}
								{% set className = "log" %}

							{% endif %}
							<tr class="{{ className }}">
								<td>{{ log.time }}</td>
								<td>{{ log.topics }}</td>
								<td>{{ log.message }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</tbody>
		</table>
	</div>
{% endif %}</div>{% endblock %}
