{% extends 'base.html.twig' %}
{% block title %}
	{% set query = app.request.query.get("query") %}
	{% if query %}
		Pesquisando por "{{query}}"
	{% else %}
		Pesquisa de logs
	{% endif %}
	:: Mikroutils
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("assets/hosts.css") }}"></link>
<link rel="stylesheet" href="{{ asset("assets/logTable.css") }}"></link>{% endblock %}
{% block javascripts %}
<script defer src="{{ asset('assets/gatewayChoiceForm.js') }}"></script>{% endblock %}
{% block body %}
<div class="mb-5 border-bottom">
	<h1>Pesquisa de logs</h1>
	<p class="mb-3">
		Encontre informações relevantes sobre eventos ocorridos em um gateway.
	</p>
</div>
{% include 'searchInputWithGatewayCheckboxes.html.twig' %}
{% include 'gatewayError.html.twig' %}
{% if results %}
	{% if results.meta.length > 0 %}
		<div class="accordion" id="accordionLog">
		{% for host in results.data %}
			<div class="accordion-item">
				<h2 class="accordion-header">
				<button class="accordion-button{% if loop.first %}{% else %} collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ loop.index }}">{{ host.meta.hostname }}
				</button>
				</h2>
				<div id="collapse{{ loop.index }}" class="accordion-collapse collapse{% if loop.first %} show{% else %}{% endif %}" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<table class="table">
							<thead>
								<tr>
									<th>Time</th>
									<th>Topics</th>
									<th>Message</th>
								</tr>
							</thead>
							<tbody>
								{% for log in host.data|reverse %}
									{% if "error" in log.topics %}
										{% set className = "log log-error" %}
									{% else %}
										{% set className = "log" %}

									{% endif %}
									<tr class="{{ className }}">
										<td>{{ log.time }}</td>
										<td>{{ log.topics }}</td>
										<td>{{ log.message }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	{% else %}
			<p>Nenhum resultado encontrado.</p>
	{% endif %}
{% endif %}
{% endblock %}
