{% extends 'base.html.twig' %}
{% block title %}
	{% set query = app.request.query.get("query") %}
	{% if query %}
		Pesquisando por "{{query}}"
	{% else %}
		Pesquisa de logs
	{% endif %}
	:: Mikroutils
{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset("assets/hosts.css") }}"></link>{% endblock %}{% block javascripts %}
<script defer src="{{ asset('assets/gatewayChoiceForm.js') }}"></script>{% endblock %}{% block body %}
<div class="mb-5 border-bottom">
	<h1>Pesquisa de logs</h1>
	<p class="mb-3">
		Encontre informações relevantes sobre eventos ocorridos em um gateway.
	</p>
</div>
{% include 'searchInputWithGatewayCheckboxes.html.twig' %}
{% include 'gatewayError.html.twig' %}
{% if results %}
	{% if results.meta.length > 0 %}
		<div class="accordion" id="accordionLog">
		{% set firstBefore = true %}
		{% for gw in results.data %}
			<div class="accordion-item">
				<h2 class="accordion-header">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded={% if firstBefore %}"true"{% else %}"false"{% endif %} aria-controls="collapseOne">{{ gw.meta.hostname }}
				</button>
				</h2>
				{% for log in gw.data %}
							<div id="collapseOne" class="accordion-collapse collapse {% if firstBefore %}show{% else %}{% endif %}" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									{{ log.message }}
								</div>
							</div>
			</div>
						{% set first = false %}
				{% endfor %}
		{% endfor %}
		</div>
	{% else %}
			<p>Nenhum resultado encontrado.</p>
	{% endif %}
{% endif %}
{% endblock %}
